*{
    margin: 0;
}
.personalInfo{
    background-color: rgb(247, 184, 67);
}
.personalInfo h1{
    text-align: center;
    background-color: black;
    color:white;
    margin:0 35%;
    margin-bottom: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: 'Brush Script MT';
}

#introductionText{
    color:white;
    padding:50px;
    font-size:25px;
}
.sectionOneTableCell{
    background-color: black;

}
table, td{
    border: 5px solid orange;
    border-collapse: collapse;
}
.container{
    background-color: rgb(247, 184, 67);
    padding:20px;
    border: 8px white dashed;
}
.container h1{
    margin-bottom: 30px;
}
.container div{
    margin-bottom: 20px;
}
.upcomingEvents{
    border: 5px black solid;
    display:inline-block;
    padding:20px;
    margin: 0px 10%;
}

.upcomingEvents p{
    font-size: 20px;
    font-weight: bold;
}

.containerArticle{
    background-color:rgb(247, 184, 67);
    padding:20px;
}
.containerArticle h1{
    margin-bottom: 20px;

}
.containerArticle .articleNames{
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    background-color: orange;
    border-radius: 20px;
    color:black;
    width: 80%;
    margin-top: 10px;
}

#articleText1{
    border-bottom: 2px black dashed;
    padding:15px 0;
    font-size: 20px;
}
#articleText2{
    border-bottom: 2px black dashed;
    padding:15px 0;
    font-size: 20px;
}
#articleText3{
    padding:15px 0;
    font-size: 20px;
}
